<ul class="primary">
    <li>
        <a class="arrow-back" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <a class="arrow-forward" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </li>
    <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Application"><span class="glyphicon glyphicon-file"></span></a>
        <ul role="menu" class="secondary-nav">
            <li class="title" role="presentation">Application</li>
            <li><a href="#"><span class="glyphicon glyphicon-file"></span> Current version</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Claims</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Description</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Figures</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-road"></span> Abstract</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> Embodiments</a></li>
            <li class="divider"></li>

            <li><a href="#">Original (Paper filing)</a></li>
            <li><a href="#">Feature Mapping Table</a></li>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Bibliographic Data</a></li>
            <li><a href="#">Cited and Similar Documents</a></li>
            <li class="divider"></li>
            <li class="title" role="presentation">Citing documents</li>
            <li><a href="#">Communications draft</a></li>
        </ul>
    </li>
    <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Search"><span class="glyphicon glyphicon-search"></span></a>
        <ul role="menu" class="secondary-nav">
            <li class="title" role="presentation">Search</li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Description</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Figures</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> Embodiments</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> Original filing</a></li>
            <li class="divider"></li>
            <li class="title" role="presentation">Office actions</li>
            <li><a href="#" id="comm-draft">Communications draft</a></li>
        </ul>
    </li>
    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Tags & viewer"><span class="glyphicon glyphicon-tags"></span></a></li>
    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Office actions"><span class="glyphicon glyphicon-cog"></span></a></li>
</ul>