
	<ul>
        <li>
        	<a href="#" rel="application" data-toggle="tooltip" data-placement="left" title="Dossier Data">
        		<span class="glyphicon glyphicon-file"></span>
        	</a>
        </li>
        <li>   	
        	<a href="#" rel="contacts" data-toggle="tooltip" data-placement="left" title="Contacts">
        		<span class="glyphicon glyphicon-user"></span>
        	</a>
        </li>
        <li>
        	<span class="notification">1</span>
            <a href="#" rel="queryhighlights" data-toggle="tooltip" data-placement="left" title="Query and Highlights">
            	<span class="glyphicon glyphicon-question-sign"></span>
            </a>
        </li>
        <li>
        	<a href="#" rel="tags" data-toggle="tooltip" data-placement="left" title="Tags">
        		<span class="glyphicon glyphicon-tag"></span>
        	</a>
        </li>
        <li>
        	<a href="#" rel="annotations" data-toggle="tooltip" data-placement="left" title="Annotations">
        		<span class="glyphicon glyphicon-pencil"></span>
        	</a>
        </li>
        <li>
        	<a href="#" rel="fm" data-toggle="tooltip" data-placement="left" title="Feature Mapping">
        		<span class="glyphicon glyphicon-ok"></span>
        	</a>
        </li>
        <li>
        	<a href="#" rel="addnew" data-toggle="tooltip" data-placement="left" title="Add new">
        		<span class="glyphicon glyphicon-plus"></span>
        	</a>
        </li>
    </ul>
    <div class="slide-in-menu">
    	<div class="menu-item tags">
    		<h3>Tags</h3>
    		<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          X-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	Web page analysis for voice browsing
			      	<hr>
			      	<button class="btn btn-primary btn-xs" id="tagswitch">Preview</button>
			      	<button class="btn btn-info btn-xs">Open in viewer</button>
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          Y-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          A-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          activated navigation (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			</div><!-- /.panel-group -->
        	<div class="preview-pane">	
        		<div class="preview">
        			<img src="images/doc-image-full.jpg" width="561" height="761" align="center">
        			<img src="images/doc-image-full.jpg" width="561" height="761" align="center">
        		</div><!-- /.preview -->
        		<br>
        		<button class="btn btn-primary btn-xs">Open in viewer</button>
        		<button class="btn btn-default btn-xs">Open as 2nd content</button>
        	</div><!-- /.preview-pane -->
    	</div><!-- /.menu-item -->
    	<div class="menu-item annotations">
    		<h3>Annotations</h3>
    		<div class="dd-group pull-left">
        		<p class="pull-left small">Type:</p>
        		<div class="btn-group">
				  <button type="button" class="btn btn-default btn-xs">All</button>
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Additional option</a></li>
				  </ul>
				</div><!-- ./btn-group -->
			</div><!-- pull-left -->
			<div class="dd-group pull-left">
				<p class="pull-left small">Status:</p>
        		<div class="btn-group">
				  <button type="button" class="btn btn-default btn-xs">All</button>
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li><a href="#">Option</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Additional option</a></li>
				  </ul>
				</div><!-- /.btn-group -->
			</div><!-- /.pull-left -->
			<br clear="all">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          X-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          Y-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          A-Document (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          activated navigation (0) <span class="caret"></span>
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			      	[Content here...]
			      </div>
			    </div>
			  </div><!-- /.panel -->
			</div><!-- /.panel-group -->
    	</div><!-- /.annotations -->
    	<div class="menu-item queryhighlights">
    		<div class="col query-builder">
				<header>
					<div class="navigation">
						<a href="#"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span></a>
						<a href="#"><span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a>
					</div>					
					<h4>Q13</h4>				
				</header>
				<section class="quick-search">
					<h4>Quick search</h4>
					<div class="search-param">
						<p>Search on:</p>
						<button class="btn btn-xs">G <span class="dismiss">x</span></button>
						<button class="btn btn-xs">PL <span class="dismiss">x</span></button>
					</div><!-- search param -->				
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Enter keywords">
					  <span class="input-group-addon">GO</span>
					</div><!-- input group -->
				</section><!-- /.quick-search -->
				<section class="concept-search">
					<h4>Concept search</h4>
					<ul class="view">
						<li class="active"><a href="#">List</a></li>
						<li><a href="#">Table</a></li>
						<li><a href="#">Command line</a></li>
					</ul>
					<div class="list-view">
						<div class="search-param">
							<p>Search on:</p>
							<button class="btn btn-xs">G <span class="dismiss">x</span></button>
							<button class="btn btn-xs">PL <span class="dismiss">x</span></button>
						</div><!-- search param -->
						<h6>Concepts</h6>
						<div class="concept-group queryhighlights">	
				    		<h5>Q | H</h5>
				    		<ul class="highlights-list main">
				    			<li>
				    				<input type="checkbox">
				    				<input type="checkbox" class="checkbox-highlight">
				    				<span class="light-orange">Voice command</span>
				    				<em class="version small">v3</em>
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<input type="checkbox" class="checkbox-highlight">
				    				<span class="light-green">text-to-speech</span>
				    				<em class="version small">v3</em>
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<input type="checkbox" class="checkbox-highlight">
				    				<span class="light-blue">spoken query</span>
				    				<em class="version small">v3</em>
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<input type="checkbox" class="checkbox-highlight">
				    				<span class="light-yellow">navigation</span>
				    				<em class="version small">v3</em>
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<input type="checkbox" class="checkbox-highlight">
				    				<span class="light-red">hyperlink</span>
				    				<em class="version small">v3</em>
				    			</li>
				    		</ul>		    		
				  		</div><!-- queryhighlights -->
				  		<h6>Classes</h6>
				  		<div class="concept-group classes">
				  			<ul>
				    			<li>
				    				<input type="checkbox">
				    				<span>G06F/C/LOW</span>			    				
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<span>G06F17/30</span>			    				
				    			</li>
				    		</ul>
				 		</div><!-- concept group -->
				 		<h6>Metadata</h6>
				  		<div class="concept-group classes">
				  			<ul>
				    			<li>
				    				<input type="checkbox">
				    				<span>applicant: Apple Inc.</span>			    				
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<span>inventor: FLEIZACH, Christopher</span>			    				
				    			</li>
				    			<li>
				    				<input type="checkbox">
				    				<span>inventor: GRUBER, Thomas</span>			    				
				    			</li>
				    		</ul>
				 		</div><!-- concept group -->
				 		<h6>Preparations</h6>
				  		<div class="concept-group classes">
				  			<ul>
				    			<li>
				    				<input type="checkbox">
				    				<span>find similar on Application Abstract</span>			    				
				    			</li>
				    		</ul>
				 		</div><!-- concept group -->
				  	</div><!-- list-view -->
				</section><!-- /.concept-search -->
			</div><!-- /.query-builder -->
    	</div>
    	
    </div><!-- /.slide-in-menu -->
