// base colours
$black: #000;
$white: #fff;
$dark-grey: #666;
$mid-grey: #ccc;
$light-grey: #eee;

$orange: #f57020;
$green: #46a52d;
$blue: #20a7f5;
$purple: #aa56b9;

//layout sizing
$window-height: 100%;

$container-main-width: 80%;
$container-single-view-max-width: 1200px;
$container-dual-view-max-width: 1600px;

//typography
$smaller :65%;
