<div class="search-wrapper">
	<div class="pull-out">
		<a class="pull" href="#">SH »</a>
		<header>
			<h4>Search History</h5>
			<br />
			<h5 class="pull-left">Presearch</h6>
			<a href="#" id="dashboard" class="pull-right">Dashboard</a>
		</header>
		<section class="presearch">
			<div class="presearch-field">
				<p>Concepts</p>
				<div class="search-terms">
					<div class="search-term" rel="search1" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" rel="search2" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>NPL</div>
				</div>
			</div><!-- presearch field -->
			<div class="presearch-field">
				<p>Applicant and Inventors</p>
				<div class="search-terms">
					<div class="search-term" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:60%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
				</div>
			</div><!-- presearch field -->
			<div class="presearch-field">
				<p>Classes</p>
				<div class="search-terms">
					<div class="search-term" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:50%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:30%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:30%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
				</div>
			</div><!-- presearch field -->
			<div class="presearch-field">
				<p>Combi</p>
				<div class="search-terms">
					<div class="search-term" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>NPL</div>
				</div>
			</div><!-- presearch field -->
			<div class="presearch-field">
				<p>Find similar</p>
				<div class="search-terms">
					<div class="search-term" style="width:20%"><span class="unread" style="width:10%">&nbsp;</span>PL</div>
					<div class="search-term" style="width:40%"><span class="unread" style="width:10%">&nbsp;</span>NPL</div>
				</div>
			</div><!-- presearch field -->
		</section>		
	</div><!-- pull out -->
	<div class="search-content">
		
	</div><!-- search-content -->
</div><!-- search-wrapper -->

